* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#pg-1 {
    height: 100%;
    width: 100%;
    //background-color: rgb(21, 34, 77);
}

#nav {
    height: 80px;
    width: 100%;
    // background-color: rgb(255, 227, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    white-space: nowrap;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.14);
    border-top: 1.5px solid rgba(0, 0, 0, 0.14);
}

#nav1 {
    width: auto;
    //background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#nav1 h4 {
    font-size: 16px;
    font-weight: 700;
}

#nav1 h4:hover {
    color: rgb(236, 26, 113);
    cursor: pointer;
}

#nav2 {
    height: 6vh;
    width: 40%;
    background-color: rgb(243, 236, 236);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 380px;
    color: rgba(0, 0, 0, 0.500);
    border-radius: 8px;
    gap: 5px;
}

#nav2 h4 {
    margin-right: 20px;
}

#nav2 i {
    margin-left: 1vw;
}

#nav3 {
    width: 70%;
    //background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav3 button {
    padding: 8px 8px;
    font-weight: 600;
    border: none;
    background-color: rgb(236, 26, 113);
    color: white;
    border-radius: 7px;
    font-size: 15px;
    margin: 0 6px;
    white-space: nowrap;
}

#nav3 i {
    margin-left: 3vh;
}

#nav img {
    height: 70px;
}

#nav2 h4:hover {
    cursor: pointer;
}

#nav3 i:hover {
    cursor: pointer;
}

#nav3 button:hover {
    cursor: pointer;
}

#nav-2 {
    height: 3.5vw;
    width: 100%;
    //background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: rgba(0, 0, 0, 0.514);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.14);
}

#nav-2 h4:hover {
    color: rgb(236, 26, 113);
    cursor: pointer;
}

#content {
    height: calc(100% - 120px);
    width: 100%;
    //background-color: aqua;
}

.elem {
    height: 60vw;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.elem img {
    height: 72vh;
    width: 35vw;
    border-radius: 10px;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinte;
    animation-timing-function: linear;
}

.elem img:hover {
    cursor: pointer;
}

#pg-2 img {
    height: 17vh;
    width: 95%;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    margin-top: -2vw;
}

#text {
    height: 15vh;
    background-color: rgb(242, 242, 242);
    border-bottom: 2px solid rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

#text h2 {
    margin-left: 20px;
    margin-top: 30px;
}

#pg-2 .spotlight {
    background-color: rgba(216, 211, 211, 0.484);
    height: 56vh;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    // align-items: flex-start;
    //justify-content: space-between;
    gap: 20px;
}

#pg-2 .spotlight img {
    height: 42vh;
    width: 80vw;
    margin-top: 2vw;
    border-radius: 20px;
    object-fit: cover;
    padding-left: 0;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinte;
    animation-timing-function: linear;
}

.spotlight img:hover {
    cursor: pointer;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#pg-3 {
    height: 100%;
    width: 100%;
    //background-color: rgb(226, 230, 243);
    padding-left: 0;
}

#pg-3 img {
    height: 17vh;
    width: 130vw;
    margin-top: -0.1vw;
    padding-right: 270px;
    margin-left: -60px;
    padding-left: 0;
}

#con {
    height: 40vh;
    width: fit-content;
    //background-color: aqua;
    align-items: center;
    justify-content: center;
}

#con video {
    height: 100%;
    width: 106%;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 70px;

}

#min {
    height: 80%;
    width: 100%;
    background-color: rgb(239, 244, 248);
    margin-top: 4vh;
}

#dot img {
    height: 35vh;
    width: 120vw;
    margin-top: 0vw;
    margin-left: 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#off {
    height: 10vh;
    width: 20vw;
    position: relative;
    bottom: 0;
    //background-color: aquamarine;
    margin-left: 67px;
    margin-top: -75px;
}

#off h2 {
    font-weight: 500;
}

#off h3 {
    font-weight: 400;
}

#pg-3 .product {
    height: 20vh;
    width: 100%;
    display: flex;
    //background-color: aqua;
    gap: -20px;
    padding-top: 35px;
    margin-left: 120px;
}

.product :hover {
    cursor: pointer;
}

#pg-3 .product img {
    height: 150px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: -175px;
    border-radius: 10px;
}

.name {
    width: 100%;
    display: flex;
}

#one {
    height: 70px;
    width: 100px;
    // background-color: aquamarine;
    margin-left: 11vh;
    margin-top: 11vh;
}

#one h4 {
    font-weight: 500;
}

#three {
    //background-color: bisque;
    width: 12vw;
    margin-top: 6px;
}

#three h5 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
}

#two {
    //background-color: burlywood;
    display: flex;
    margin-top: 15px;
}

#two h5 {
    font-weight: 400;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.45);
}

#two i {
    color: rgba(0, 0, 0, 0.45);
}

#price {
    height: 3vh;
    width: 10vw;
    //background-color: blueviolet;
    display: flex;
}

#four {
    height: 2vh;
    width: 3.5vw;
    //background-color: beige;
    margin-top: 10px;
}
#four h4{
    font-weight: 500;
}
#five h4{
    font-weight: 400;
}
#six h4{
    font-weight: 500;
}

#five {
    height: 2vh;
    width: 3.5vw;
    // background-color: beige;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.45);
    text-decoration: line-through;
}

#six {
    height: 2vh;
    width: 3.5vw;
    //background-color: beige;
    margin-top: 10px;
    color: green;
}

.name :hover {
    cursor: pointer;
}