* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#pg-1 {
    height: 100%;
    width: 100%;
    background-color: rgb(21, 34, 77);
}

#pg-1 #nav {
    height: 120px;
    width: 100%;
    background-color: rgb(220, 198, 149);
}

#content {
    height: calc(100% - 120px);
    width: 100%;
    background-color: aqua;
}